In [2]:
print ("hello, world")

hello, world

In [8]:
X = 10
x = 12
print(x)
print(X)

12
10

In [12]:
X = "Anant"
print(X)

Anant

In [20]:
print(X[0])
print(X[2])

A
a

In [22]:
print("Anant Khutale")

Anant Khutale

In [28]:
print("anant \nKhutale \nkolhapur \nMaharashtra \nIndia")

anant
Khutale
kolhapur
Maharashtra
India

In [44]:
print(type(x),"/n", type(X))

TypeError: unsupported operand type(s) for &: 'type' and 'str'

In [72]:
thisdict = {"Name": "Anant","Age":42,"Address":"Kolhpaur"}
thisdict2 = {"Name": "Mahesh","Age":45,"Address":"Pune"}
print(thisdict)
print(thisdict2)

{'Name': 'Anant', 'Age': 42, 'Address': 'Kolhpaur'}
{'Name': 'Mahesh', 'Age': 45, 'Address': 'Pune'}

In [64]:
print(thisdict["Name"])
print(thisdict["Age"])

Anant
42

In [78]:
thisset={1,2,3,1,2,3,4}
print(thisset[0])

TypeError: 'set' object is not subscriptable

In [86]:
print(9>10)
print(9<10)
print(9==10)
print(9==9)
#print(9=10)

False
True
False
True

print("Hello, Anant Khutale")
print('How are you "?"')

In [90]:
print("Hello, Anant Khutale")
print('How are you "?"')
print("I am fine.'you?'")

Hello, Anant Khutale
How are you "?"
I am fine.'you?'

In [11]:
a= 2
b = 3

print(a**b)

print(a//b)

8
0

In [37]:
A = 2
A += 10
print(A)

A *= 10
print(A)

A /= 10
print(A)

12
120
12.0

In [47]:
X = 10
Y = 12
X &= Y

print(X)

8

In [59]:
# firstValue=10 secoundValue=20 then check 

firstValue = 100
secoundValue = 100

print(firstValue>secoundValue)
if(firstValue==secoundValue):
    a = firstValue+secoundValue
    print(a)
else:
    print("FirstValue is Geterthan SecondValue is requried")

False
200

In [7]:
Hindi=50
Marathi=50
English=50
Math=50

#print(Hindi>=35 and Marathi>=35 and English>=35 and Math>35)
if(Hindi>=35 and Marathi>=35 and English>=35 and Math>35):
    print("Total Marks =",Hindi+Marathi+English+Math, "\nResult = PASS")
else:
    print(Hindi+Marathi+English+Math,"\nYou are Fail in one subject \nResult = FAIL")

Total Marks = 200
Result = PASS

In [11]:
Arnav = 7
Snehal = 9
Anant = 1

print(Arnav+Snehal+Anant)

17